.canvas-container {
  overflow: auto;
  position: relative;
  background-color: #171718;
  border: 1px solid #dee2e6;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
}

.canvas-container canvas {
  display: block;
  margin: auto;
}

.canvas-border {
  border: solid 2px wheat;
}

.icon-bar {
  text-align: center;
}

.icon-bar .btn {
  margin: 0 2px;
}

.status-bar {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.boolean-btn.active {
  background-color: #6c757d;
  color: white;
}

.game-life {
  align-self: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 10px;

  --sizeInputCanvasMin: 12px;
  --sizeInputCanvasMax: 25px;
  --sizeInputCanvasMargin: 5px;
}

canvas {
  border: solid 1px rgba(255, 255, 255, 0.436);
}

canvas.border {
  border: solid 3px rgba(255, 255, 255, 0.436);
}

#colorButtons,
#rapidityButtons,
#stepButtons,
#arrowButtons {
  display: none;
  z-index: 3;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #ccc;
}

#rapidityButtons {
  left: -5px;
}

#stepButtons {
  left: -5px;
}

.blue {
  background-color: hsl(200, 80%, 67%);
}

.red {
  background-color: rgb(247, 101, 101);
}

.green {
  background-color: rgb(85, 248, 85);
}

.yellow {
  background-color: rgb(255, 255, 94);
}

.active {
  display: flex;
}


#gridInput {
  overflow-x: auto;
  overflow-y: auto;
  height: 200px;
  max-height: 200px;
  line-height: 0.8;
}

#gridInput.valid {
  background-color: #d4edda;
  /* vert pâle */
}

#gridInput.invalid {
  background-color: #f8d7da;
  /* rouge pâle */
}

#gridOutput {
  line-height: 1.0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.toggle-icon {
  font-size: 1.5rem;
  /* padding: 10px; */
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-icon:hover {
  background-color: #0056b3;
}

.desactivate {
  display: none;
}