.canvas-container {
  overflow: auto;
  position: relative;
  background-color: #171718;
  border: 1px solid #dee2e6;
  width: 530px;
  height: 500px;
}

.canvas-container canvas {
  display: block;
  margin: auto;
}

.canvas-border {
  border: solid 2px wheat;
}

.icon-bar {
  text-align: center;
}

.icon-bar .btn {
  margin: 0 2px;
}

.status-bar {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.boolean-btn.active {
  background-color: #6c757d;
  color: white;
}

.game-life {
  align-self: center;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 40px 1fr 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 5px;

  --sizeInputCanvasMin: 12px;
  --sizeInputCanvasMax: 25px;
  --sizeInputCanvasMargin: 10px;
}

.input-top,
.input-left,
.input-right,
.input-bottom {
  display: none;
  cursor: pointer;
  transition: 0.2s;
  background-color: darkred;
  border-radius: 5px;
  transition: 0.2s;


}

.input-top:hover,
.input-left:hover,
.input-right:hover,
.input-bottom:hover {
  transform: scale(1.20);
  background-color: darkred;
  transition: 0.2s;
}

.input-left,
.input-right {
  width: var(--sizeInputCanvasMin);
  height: var(--sizeInputCanvasMax);
}

.input-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  margin-right: var(--sizeInputCanvasMargin);
}

.input-right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  margin-left: var(--sizeInputCanvasMargin);
}

.input-top,
.input-bottom {
  height: var(--sizeInputCanvasMin);
  width: var(--sizeInputCanvasMax);
}

.input-top {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  margin-bottom: var(--sizeInputCanvasMargin);

}

.input-bottom {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  margin-top: var(--sizeInputCanvasMargin);
}

canvas {
  border: solid 1px rgba(255, 255, 255, 0.436);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

canvas.border {
  border: solid 3px rgba(255, 255, 255, 0.436);

}

#colorButtons,
#rapidityButtons,
#stepButtons {
  display: none;
  z-index: 3;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #ccc;
}

#rapidityButtons {
  left: -5px;
}

#stepButtons {
  left: -5px;
}

.blue {
  background-color: hsl(200, 80%, 67%);
}

.red {
  background-color: rgb(247, 101, 101);
}

.green {
  background-color: rgb(85, 248, 85);
}

.yellow {
  background-color: rgb(255, 255, 94);
}

.active {
  display: flex;
}

.modal-over {
  z-index: 1060;
  /* Higher than default Bootstrap modals */
}

.modal-backdrop.show.modal-over-backdrop {
  z-index: 1059;
  /* Slightly lower than the modal */
}

#gridInput {
  overflow-x: auto;
  overflow-y: auto;
  height: 200px;
  max-height: 200px;
  line-height: 0.8;
}

#gridInput.valid {
  background-color: #d4edda;
  /* vert pâle */
}

#gridInput.invalid {
  background-color: #f8d7da;
  /* rouge pâle */
}

#gridOutput {
  line-height: 1.0;
}